<div class="d-flex container justify-content-between align-items-center">
  <h2 class="product-heading">Products Catalog</h2>
  <i class="fa fa-refresh pointer" (click)="getAllProducts()" aria-hidden="true"></i>
</div>
<div class="no-data" *ngIf="products.length == 0; else show_data">No Products Found!</div>
<ng-template #show_data>
  <div class="d-flex justify-content-around align-items-end">
    <div class="serv">
      <ul class="shimpment-inst" style="gap: 25px">
        <li *ngFor="let product of products; let i = index">
          <img [src]="getImage(product.image)" alt="Product Image" class="img-fix ml-2" />
          <p>{{ product.name | titlecase }}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
