.w-50 {
  width: 50%;
}

.weight-600 {
  font-weight: 600;
}
.mandatory {
  color: red !important;
}

.product-heading {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 3px;
  margin-top: 10px;
}
